.buttonFavorites__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 24px;
    width: 24px;
    margin-bottom: 0;
}

.buttonFavorites {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 600px;
    color: var(--text-color);
    background-color: transparent;
    padding: 4px;
    border: none;
}