.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

  body {
    background-color: #FFFBF8;
  }

.favorites-intro {
    width: 390px;
    height: 171px;
    padding: 12px 20px;
    display:flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.favorites-grid {
    display:flex;
    flex-direction: column;
    grid-template-columns: auto;
}