:root{
  --background: #FFFBF8;
  --text-color: #003640;
  --text-color-button: #003640; 
  --dog-card: #EAC2CC;
  --cat-card: #ED7744;
  --button: #9FCFDF;
  --background-form: #e7f2f7;
  --dropdown-button: #003640;
  --dropdown-color: #FFFBF8;
}
[data-theme='dark'] {
  --background: #001b20;
  --text-color: #FFFBF8;
  --text-color-button: #003640; 
  --dog-card: #F2D9DF;
  --cat-card: #F3A97E;
  --button: #9FCFDF;
  --background-form: #e7f2f7;
  --dropdown-button: #FFFBF8;
  --dropdown-color: #003640;


}
