
.footer {
    width: 390px;
    background-color: var(--background);
    margin: 0;
    padding: 24px 12px 24px 12px;
    box-sizing: border-box;
    border-top: solid 1px var(--text-color);
    bottom: 0;
}

.instagram, .api{
    width: 15px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
   
}

a{
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
} 